.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px auto;
}

.form-container {
  margin-top: 64px;
}

.register-container {
  width: 90%;
  margin: 0 auto;
}

.d-none {
  display: none;
}