.input-container{
  display: flex;
  flex-flow: row;
  width: 100%;
  .visaName,
  .visaNumber {
    width: 64%;
    .input-label,
    input {
      width: 100%;
    }
  }
  .visaDate,
  .visaCode {
    width: 48%;
    .input-label,
    input {
      width: 100%;
    }
  }
}


